@model List<WorkListDto>
<html>
<head>
    <title>Todo App</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

</head>

<body>
    <div class="container my-2">
        <div class="mb-2 text-end">
            <a asp-action="Create" asp-controller="Home" class="btn btn-primary">Yeni İş EKle</a>
        </div>

        <table class="table table-hovered table-bordered table-sm">
            <thead>
                <tr>
                    <td>Yapıcılacak İş</td>
                    <td>Durumu</td>
                    <td>İşlem</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Definition</td>
                        <td>@(item.IsCompleted ? "Tamamlandı" : "Tamamlanmadı")</td>
                        <td>
                            <a asp-action="Update" asp-controller="home" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Güncelle</a>
                            <a asp-action="Remove" asp-controller="home" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Sil</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</body>
</html>